body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #E3F0AF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  border: 2px;
  border-color: black;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* remove the blue color and underline on anchor tags for the logo*/
a { 
  color: inherit; 
  text-decoration: none;
} 


#title{
  color: #5DB996;
}

#headerButtons{
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.button{
  
}

.mainSection {
  width: 450px;
  height: 500px;
  background-color: #FBF6E9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
}


.button{
  width: 100%; /* Changed from fixed width to fill grid cell */
  height: 100%; /* Changed from fixed height to fill grid cell */
  border-radius: 10px;
  border: none;
  box-shadow:#5DB996;
  font-family: "Press Start 2P", system-ui;
  background-color: #E3F0AF;
  transition: box-shadow 0.3s ease; /* Smooth hover effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  outline: none;


}

.button1{
  width: 80%;
  height: 20%;

}

#buttonSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  width: 100%; /* allows what ever is in the cell to fit 100% of it*/
  height: 100%;
}

.button img{
  width: 60px;
  height: 60px;
}
.button:hover {
  box-shadow: 0 6px 12px rgba(93, 185, 150, 0.4);
  transform: translateY(2px);
}